@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 142.1 76.2% 36.3%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 142.1 76.2% 36.3%;
		--radius: 0.75rem;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 144.9 80.4% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 142.4 71.8% 29.2%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground h-full;
	}
}
body::-webkit-scrollbar {
	@apply hidden;
}
body {
	font-family: "IBM Plex Mono", monospace;
}
/* if i enable this  the scroll to section will not function because this the scrolling wi be depending on this section scroll-bar not the body and iam calling the nav bar in the body */

/* .section-container {
	@apply h-screen snap-y snap-proximity z-0 overflow-scroll;
} */
.section-container::-webkit-scrollbar {
	@apply hidden;
}

.section {
	@apply lg:h-screen px-10 sm:px-56 snap-start min-h-screen py-10;
}

/* .hero {
	background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 1920 1080' width='1920' height='1080' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='1920' height='1080' fill='%23fff'%3E%3C/rect%3E%3Cpath d='M0 664L160 666.3C320 668.7 640 673.3 960 699.2C1280 725 1600 772 1760 795.5L1920 819L1920 1081L1760 1081C1600 1081 1280 1081 960 1081C640 1081 320 1081 160 1081L0 1081Z' fill='%23f4f4f5'%3E%3C/path%3E%3Cpath d='M0 964L160 965.3C320 966.7 640 969.3 960 944.5C1280 919.7 1600 867.3 1760 841.2L1920 815L1920 1081L1760 1081C1600 1081 1280 1081 960 1081C640 1081 320 1081 160 1081L0 1081Z' fill='%23e11d48'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	background-size: cover;
} */
/* .about {
	background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 1920 1080' width='1920' height='1080' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 174L160 152.3C320 130.7 640 87.3 960 117.8C1280 148.3 1600 252.7 1760 304.8L1920 357L1920 0L1760 0C1600 0 1280 0 960 0C640 0 320 0 160 0L0 0Z' fill='%23e11d48'%3E%3C/path%3E%3Cpath d='M0 962L160 906.2C320 850.3 640 738.7 960 742.3C1280 746 1600 865 1760 924.5L1920 984L1920 355L1760 302.8C1600 250.7 1280 146.3 960 115.8C640 85.3 320 128.7 160 150.3L0 172Z' fill='%23f4f4f5'%3E%3C/path%3E%3Cpath d='M0 1081L160 1081C320 1081 640 1081 960 1081C1280 1081 1600 1081 1760 1081L1920 1081L1920 982L1760 922.5C1600 863 1280 744 960 740.3C640 736.7 320 848.3 160 904.2L0 960Z' fill='%23e11d48'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	background-size: cover;
}
.skills {
	background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 1920 1080' width='1920' height='1080' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='1920' height='1080' fill='%23fff'%3E%3C/rect%3E%3Cpath d='M0 825L80 829.7C160 834.3 320 843.7 480 835.7C640 827.7 800 802.3 960 793.3C1120 784.3 1280 791.7 1440 796.5C1600 801.3 1760 803.7 1840 804.8L1920 806L1920 0L1840 0C1760 0 1600 0 1440 0C1280 0 1120 0 960 0C800 0 640 0 480 0C320 0 160 0 80 0L0 0Z' fill='%23f4f4f5'%3E%3C/path%3E%3Cpath d='M0 661L80 650C160 639 320 617 480 645.2C640 673.3 800 751.7 960 785C1120 818.3 1280 806.7 1440 765.8C1600 725 1760 655 1840 620L1920 585L1920 0L1840 0C1760 0 1600 0 1440 0C1280 0 1120 0 960 0C800 0 640 0 480 0C320 0 160 0 80 0L0 0Z' fill='%23e0cbed'%3E%3C/path%3E%3Cpath d='M0 471L80 460.8C160 450.7 320 430.3 480 423.5C640 416.7 800 423.3 960 454C1120 484.7 1280 539.3 1440 558.7C1600 578 1760 562 1840 554L1920 546L1920 0L1840 0C1760 0 1600 0 1440 0C1280 0 1120 0 960 0C800 0 640 0 480 0C320 0 160 0 80 0L0 0Z' fill='%23e49bcf'%3E%3C/path%3E%3Cpath d='M0 322L80 325.8C160 329.7 320 337.3 480 327.7C640 318 800 291 960 284.8C1120 278.7 1280 293.3 1440 298.8C1600 304.3 1760 300.7 1840 298.8L1920 297L1920 0L1840 0C1760 0 1600 0 1440 0C1280 0 1120 0 960 0C800 0 640 0 480 0C320 0 160 0 80 0L0 0Z' fill='%23eb6396'%3E%3C/path%3E%3Cpath d='M0 237L80 248.8C160 260.7 320 284.3 480 265C640 245.7 800 183.3 960 173.2C1120 163 1280 205 1440 227C1600 249 1760 251 1840 252L1920 253L1920 0L1840 0C1760 0 1600 0 1440 0C1280 0 1120 0 960 0C800 0 640 0 480 0C320 0 160 0 80 0L0 0Z' fill='%23e11d48'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	background-size: cover;
} */

.text-shadow {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
